*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header{
  width:100%;
  height:70px;
  background-color: #EC715F;
}
.container{
  width:100%;
  margin:0 auto;
}
.header-group{
  width:1024px;
  display:flex;
  justify-content: space-between;
}
.logo{
  height:70px;
}
.nav-list{
  display:flex;
}
.nav-list-item{
  list-style: none;
  line-height: 70px;
  padding:0 30px;
  color:#fafafa;
  font-size:16px;
}
.main-visual{
  width:100%;
  height:650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.mv-title{
  color:#fafafa;
  padding-top: 200px;
  font-size:64px;
}
.mv-text{
  color: #fafafa;
  padding-top: 10px;
  font-size: 20px;
}
.portfolio{
  background-color: #eceff1;
}
.pf-title{
  color: #000;
  font-size:32px;
  text-align: center;
  padding-top:90px;
}
.pf-title::after{
  content:"";
  width:70px;
  height:3px;
  background-color: #EC715F;
  display:block;
  margin:8px auto 0 auto;
}
.pf-text{
  color: #000;
  font-size: 16px;
  text-align: center;
  padding-top:30px;
}
.pf-imag-group{
  display:flex;
  flex-wrap:wrap;
  width:920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}
.pf-imag{
  width:300px;
  height:250px;
  background-size: cover;
  background-position: center;
}
.pf-imag:nth-child(1){
  background-image: url(img/sketch.jpg);
  margin-right:10px;
}
.pf-imag:nth-child(2){
  background-image: url(img/websuku.png);
  margin-right:10px;
}
.pf-imag:nth-child(3){
  background-image: url(img/write.jpg);
}
.pf-imag:nth-child(4){
  background-image: url(img/webcamp.png);
  margin-right:10px;
  margin-top: 10px;
}
.pf-imag:nth-child(5){
  background-image: url(img/talk.jpg);
  margin-right:10px;
  margin-top: 10px;
}
.pf-imag:nth-child(6){
  background-image: url(img/webcamp-mother.png);
  margin-top: 10px;
}
.ft-main-title{
  text-align: center;
  padding-top:90px;
  font-size: 32px;
}
.ft-main-title::after{
  content:"";
  width:70px;
  height:3px;
  background-color: #EC715F;
  display:block;
  margin:8px auto 0 auto;
}
.ft-main-text{
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
}
.ft-group{
  display:flex;
  width:980px;
  padding:30px 0 90px 0;
  margin:0 auto;
}
.ft-list{
  width:320px;
  margin-right:10px;
  text-align: center;
}
.fa-solid{
  font-size: 60px;
}
.ft-title{
  font-size: 20px;
  padding:10px 0 10px 0;
}
.ft-text{
  text-align: left;
  font-size: 16px;
}
.profile{
  background-color: #eceff1;
}
.pl-main-title{
  font-size: 32px;
  text-align: center;
  padding-top: 90px;
}
.pl-main-title::after{
  content:"";
  width:70px;
  height:3px;
  background-color: #EC715F;
  display:block;
  margin:8px auto 0 auto;
}
.pl-main-text{
  font-size: 16px;
  text-align: center;
  padding-top: 30px;
}
.pl-group{
  display: flex;
  padding:30px 0 90px 0;
}
.pl-left{
  width:50%;
}
.face-img{
  background-image: url(img/my-icon.jpg);
  width:250px;
  height: 250px;
  border-radius: 50%;
  margin:0 auto;
}
.pl-right{
  width:50%;
}
.pl-title{
  font-size: 20px;
  margin: 20px 0 5px 0;
}
.pl-text{
  font-size: 16px;
}
.ct-main-title{
  font-size: 32px;
  text-align: center;
  padding-top: 90px;
}
.ct-main-text{
  font-size: 16px;
  text-align: center;
  padding-top: 30px;
}
.ct-group{
  display: flex;
  width:800px;
  padding:30px 0 90px 0;
  margin:0 auto;
}
.ct-left{
  width:50%;
  margin:0 auto;
}
.ct-title{
  font-size: 20px;
  margin: 20px 0 5px 0;
}
.link-text{
  text-decoration: underline;
  font-size: 16px;
}
.ct-right{
  width:50%;
}
.fa-brands{
  font-size: 60px;
}
.ct-box1{
  width:130px;
  margin: 0 auto;
}
.ct-box2{
  width:170px;
  margin: 0 auto;
}
footer{
  width:100%;
  height: 60px;
  background-color: #EC715F;
  line-height: 60px;
}
.footer-text{
  font-size: 16px;
  color: #fafafa;
  text-align: center;
}